<%- include('../partials/header') %>

<div>Create a new ticket.</div>
<section id="badge-container">
  <% tickets.forEach(function(t) { %>
    <article class="badge"><%= t.name %></article>
  <% }) %>
</section>

<form id="add-ticket-form" action="/flights/<%= flight._id %>/tickets" method="POST">
  <label>Seat:</label>
  <input type="text" name="seat">
  <label>Price:</label>
  <input type="number" name="price">
  <input type="submit" value="Add Ticket">
</form>

<%- include('../partials/footer') %>
